body {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    padding: 0px
}

.page-navbar {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18;
    font-weight: bold;
}

#navbar-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgb(115, 168, 247);
    text-align: center;
}

li {
    color:rgb(255, 255, 255);
    display: inline-block;
    padding-right: 65px;
}

li:hover {
    color: gold;
}

.image-icon {
    width: 30px;
    height: 30px;
}

#navbar-apple-logo {
    padding: 12px;
    margin-right: 100px;
    margin-left: 20px;
}

#navbar-search-logo {
    margin-left: 35px;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    text-align:center;
    margin: 1px;
    padding: 1px;
}

#text-sopro {
    font-size: 24px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 30px;
}

#mid1-center {
    text-align: center;
}

.page-mid1 {
    list-style: none;
    padding: 0;
    padding-right: 20px;
    margin: 0;
    display: inline-block;
    color:rgb(115, 168, 247);
}

.page-mid1:hover {
    text-decoration: underline;
    color:rgb(115, 168, 247);
}

#page-photoip {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}